{{#if @root.flags.myFtApiWrite}}
<form class="n-myft-ui n-myft-ui--save" method="GET"
	data-content-id="{{contentId}}"
	data-myft-ui="saved"
	action="/myft/save/{{contentId}}"
	data-js-action="/__myft/api/core/saved/content/{{contentId}}?method=delete">
	{{> n-myft-ui/components/csrf-token/input}}
	<button
		type="submit"
		class="{{#if saveButtonWithIcon}}n-myft-ui__save-button-with-icon{{else}}n-myft-ui__button{{#variant}} n-myft-ui__button--{{this}}{{/variant}}{{/if}}"
		data-trackable="save-for-later"
		data-alternate-label="Save to myFT"
		data-alternate-text="Save"
		data-content-id="{{contentId}}" {{! duplicated here for tracking}}
		aria-label="Saved to myFT"
		title="Saved to myFT"
		aria-pressed="true"
	>
		{{#if saveButtonWithIcon}}
			<span>{{#if buttonText}}{{buttonText}}{{else}}Saved{{/if}}</span>
		{{else}}
			{{#if buttonText}}{{buttonText}}{{else}}Saved{{/if}}
		{{/if}}
	</button>
</form>
{{else}}
<!-- Unsave button hidden due to myFtApiWrite being off -->
{{/if }}
