@import './themes';

@mixin plusIcon($color) {
	@include oIconsGetIcon('plus', $color, 10);
	content: '';
	height: 10px;
	background-size: 25px;
	margin-right: 7px;
	margin-bottom: -1px; // bit of sneakeroo icon v-alignment tweaking
}

@mixin tickIcon($color) {
	@include oIconsGetIcon('tick', $color, 10);
	content: '';
	height: 10px;
	background-size: 21px;
	margin-right: 7px;
}

@mixin myftToggleIcon($theme: standard, $reverse: false) {
	$theme-map: map-get($myft-lozenge-themes, $theme) !global;

	@include withTheme($theme) {
		@if $reverse == true {
			&::before {
				@include plusIcon(getThemeColor(background));
			}

			&[aria-pressed="true"] {
				&::before {
					@include tickIcon(getThemeColor(text));
				}
			}
		} @else {
			&::before {
				@include plusIcon(getThemeColor(text));
			}

			&[aria-pressed="true"] {
				&::before {
					@include tickIcon(getThemeColor(background));
				}
			}
		}

		&[disabled],
		&[disabled]:hover {
			background: transparent;

			&::before {
				@include plusIcon(getThemeColor(disabled));
				opacity: 0.5;
			}

			&[aria-pressed="true"]::before {
				@include tickIcon(getThemeColor(disabled));
			}
		}
	}
}
