@import './addable';

@mixin myftLozengeTheme($theme: standard, $addable: false) {
	@if $addable != false {
		@include myftAddableTheme($theme);
	}

	@if $theme == standard {
		background-color: transparent;
		border: 1px solid getColor('claret');
		color: getColor('claret');

		&:hover,
		&:focus {
			background-color: rgba(0, 0, 0, 0.05);
			color: getColor('claret');
		}

		&:focus {
			border: 2px solid getColor('claret');
		}

		&:hover {
			border: 1px solid getColor('claret');

			&:focus {
				border: 2px solid getColor('claret');
			}
		}
	} @else if $theme == inverse {
		border: 1px solid getColor('white');
		color: getColor('white');

		&:hover,
		&:focus {
			background-color: oColorsMix('claret-90', 'claret-60', 40);
			color: getColor('white');
		}

		&:focus {
			border: 2px solid getColor('white');
		}

		&:hover {
			border: 1px solid getColor('white');

			&:focus {
				border: 2px solid getColor('white');
				color: getColor('white');
			}
		}
	}
}

@mixin myftLozenge($theme: standard, $addable: false) {
	@include myftLozengeTheme($theme, $addable);
	@include oTypographySansBold($scale: -1);

	border-radius: 100px;
	box-sizing: content-box;
	display: block;
	font-size: 14px;
	margin: 6px 4px 6px 2px;
	max-width: 200px;
	overflow: hidden;
	padding: 5px 10px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;

	&:focus {
		outline-style: none;
		padding: 4px 9px;
	}

	&[disabled],
	&[disabled]:hover {
		border: 1px solid getColor('black-70');
		color: getColor('black-70');
	}
}
