@import './icons';

@mixin myftLozengeTheme($theme: standard, $addable: false) {
	@if $addable != false {
		@include myftAddableTheme($theme);
	}

	@if $theme == standard {
		background-color: transparent;
		border: 1px solid getColor('claret');
		color: getColor('claret');

		&:focus {
			border: 2px solid getColor('teal-40');
			color: getColor('claret');
		}

		&:hover {
			border: 1px solid getColor('claret');
			color: getColor('black-70');
		}

	} @else if $theme == inverse {
		border: 1px solid getColor('white');
		color: getColor('white');

		&:hover {
			border: 1px solid getColor('white');
			color: getColor('white');
			background-color: oColorsMix('claret-90', 'claret-60', 40);
		}

		&:focus,
		&:focus[aria-pressed="true"] {
			&,
			&:hover {
				color: getColor('white');
				border: 2px solid getColor('claret-90');
			}
		}
	}
}

@mixin myftLozenge($theme: standard, $addable: false) {
	@include myftLozengeTheme($theme, $addable);
	@include oTypographySansBold($scale: -1);

	border-radius: 100px;
	box-sizing: content-box;
	display: block;
	font-size: 14px;
	margin: 6px 4px 6px 2px;
	max-width: 200px;
	overflow: hidden;
	padding: 5px 10px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;

	&:focus {
		outline-style: none;
		padding: 4px 9px;
	}

	&[disabled],
	&[disabled]:hover {
		border: 1px solid getColor('black-70');
		color: getColor('black-70');
	}
}

@mixin myftAddableTheme($theme: standard) {
	@if $theme == standard {
		&::before {
			@include plusIcon('claret');
		}

		&:hover::before {
			@include plusIcon('black-70');
		}

		&[aria-pressed="true"] {
			&::before {
				@include tickIcon('claret');
			}

			&:hover::before {
				@include tickIcon('black-70');
			}
		}
	} @else if $theme == inverse {
		&:focus {
			border: 2px solid getColor('white');
		}

		&::before {
			@include plusIcon('white');
		}

		&[aria-pressed="true"] {
			background-color: getColor('claret-90');
			border: 1px solid getColor('claret-90');

			&::before {
				@include tickIcon('white');
			}

			&:hover::before {
				@include tickIcon('white');
			}
		}
	}
}

@mixin myftAddable($theme: standard) {
	@include myftAddableTheme($theme);

	// TODO what about inverse?
	&[disabled],
	&[disabled]:hover {
		border: 1px solid getColor('white');
		color: getColor('white');
		background-color: oColorsMix('claret-90', 'claret-60', 40);
	}
}
