@import 'o-buttons/main';

.n-myft-ui__button {
	@include oButtonsContent($opts: (
		'type': 'secondary'
	));

	&:focus {
		outline: 3px solid oColorsByName('teal-40');
		outline-offset: 3px;
	}
}

.n-myft-ui__button--inverse {
	@include oButtonsContent($opts: (
		'type': 'secondary',
		'theme': 'inverse'
	), $include-base-styles: false);
}

.n-myft-ui__button--viewport-large {
	display: none;

	@include oGridRespondTo('L') {
		display: inline-block;
	}
}

.n-myft-ui__save-button-with-icon {
	$icon-size: 38px;

	@include oIconsContent(
		'bookmark-outline',
		oColorsByName('black'),
		$icon-size,
		$iconset-version: 1
	);
	color: oColorsByName('black');
	background-position: 0 0;
	border: 0;
	min-height: $icon-size;
	width: $icon-size;
	position: relative;

	.save-button-with-icon-copy {
		position: absolute;
		top: $icon-size - 5px;
		left: 0;
		right: 0;
		@include oTypographySans($scale: -2);
	}

	&:not([disabled]):hover {
		@include oIconsContent(
			'bookmark',
			oColorsByName('black-50'),
			$icon-size,
			$iconset-version: 1
		);
		background-position: 0 0;
	}

	&[aria-selected='true'],
	&[aria-pressed='true'] {
		@include oIconsContent(
			'bookmark',
			oColorsByName('claret'),
			$icon-size,
			$iconset-version: 1
		);
		background-position: 0 0;
	}
}
