# generator: n-circle2-cli
# template: component

references:
  container_config_node12: &container_config_node12
    working_directory: ~/project/build
    docker:
      - image: circleci/node:12-browsers

  container_config_lambda_node12: &container_config_lambda_node12
    working_directory: ~/project/build
    docker:
      - image: lambci/lambda:build-nodejs12.x

  workspace_root: &workspace_root ~/project

  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

  npm_cache_keys: &npm_cache_keys
    keys:
      - v3-dependency-npm-{{ checksum "package.json" }}-
      - v3-dependency-npm-{{ checksum "package.json" }}
      - v3-dependency-npm-

  cache_npm_cache: &cache_npm_cache
    save_cache:
      key: v3-dependency-npm-{{ checksum "package.json" }}-{{ epoch }}
      paths:
        - ./node_modules/

  restore_npm_cache: &restore_npm_cache
    restore_cache:
      <<: *npm_cache_keys

  filters_ignore_gh_pages: &filters_ignore_gh_pages
    branches:
      ignore: gh_pages

  filters_only_main: &filters_only_main
    branches:
      only: main

  filters_ignore_main: &filters_ignore_main
    branches:
      ignore: main

  filters_ignore_tags: &filters_ignore_tags
    tags:
      ignore: /.*/

  filters_version_tag: &filters_version_tag
    tags:
      only:
        - /^v?\d+\.\d+\.\d+(?:-beta\.\d+)?$/
    branches:
      ignore: /.*/

version: 2

jobs:
  build:
    <<: *container_config_node12
    steps:
      - checkout
      - run:
          name: Checkout next-ci-shared-helpers
          command: git clone --depth 1 git@github.com:Financial-Times/next-ci-shared-helpers.git .circleci/shared-helpers
      - *restore_npm_cache
      - run:
          name: Install project dependencies
          command: make install
      - run:
          name: shared-helper / npm-install-peer-deps
          command: .circleci/shared-helpers/helper-npm-install-peer-deps
      - run:
          name: shared-helper / npm-update
          command: .circleci/shared-helpers/helper-npm-update
      - run:
          name: shared-helper / generate-build-state-artifacts
          command: .circleci/shared-helpers/helper-generate-build-state-artifacts
          when: always
      - *cache_npm_cache
      - store_artifacts:
          path: build-state
          destination: build-state
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - build

  test:
    <<: *container_config_node12
    parallelism: 1
    steps:
      - *attach_workspace
      - run:
          name: Run tests
          command: make test
          environment:
            JEST_JUNIT_OUTPUT: test-results/jest/results.xml
            MOCHA_FILE: test-results/mocha/results.xml
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
          destination: test-results

  publish:
    <<: *container_config_node12
    steps:
      - *attach_workspace
      - run:
          name: shared-helper / npm-store-auth-token
          command: .circleci/shared-helpers/helper-npm-store-auth-token
      - run: npx snyk monitor --org=customer-products --project-name=Financial-Times/n-myft-ui
      - run:
          name: shared-helper / npm-version-and-publish-public
          command: .circleci/shared-helpers/helper-npm-version-and-publish-public

  deploy:
    <<: *container_config_node12
    steps:
      - *attach_workspace
      - add_ssh_keys:
          fingerprints:
            - "83:b5:09:e4:e5:2e:74:35:c1:1b:99:73:e3:dc:b8:6f"
      - run:
          name: Publish GitHub Pages
          command: ./scripts/deploy-gh-pages.sh

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build:
          filters:
            <<: *filters_ignore_tags
            <<: *filters_ignore_gh_pages
      - test:
          filters:
            <<: *filters_ignore_tags
            <<: *filters_ignore_gh_pages
          requires:
            - build
      - deploy:
          filters:
            <<: *filters_only_main
          requires:
            - build
  build-test-publish:
    jobs:
      - build:
          filters:
            <<: *filters_version_tag
      - test:
          filters:
            <<: *filters_version_tag
          requires:
            - build
      - publish:
          filters:
            <<: *filters_version_tag
          requires:
            - test

  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            <<: *filters_only_main
    jobs:
      - build:
          context: next-nightly-build
      - test:
          requires:
            - build
          context: next-nightly-build

notify:
  webhooks:
    - url: https://ft-next-webhooks.herokuapp.com/circleci2-workflow
