$circle-radius-desktop: 17px;
$circle-radius-mobile: 14px;

.myft__indicator-container {
	position: relative;
}

.myft__indicator-original {
	position: absolute;
	top: 0;
	right: -7px;
	border-radius: 15px;
	padding: 0 5px;
	background-color: oColorsGetPaletteColor('teal');
	color: oColorsGetPaletteColor('white');
	@include oTypographySansBold(-1);
}

.myft__indicator {
	padding: 0;
	position: absolute;
	top: 16px;
	right: -6px;

	border: 1px solid oColorsGetPaletteColor('paper');
	background-color: oColorsGetPaletteColor('claret');


	font-family: MetricWeb, sans-serif;
	vertical-align: middle;
	overflow: hidden;
	text-align: center;

	font-size: 12px;
	font-weight: 500;
	line-height: $circle-radius-mobile;
	border-radius: $circle-radius-mobile;
	width: $circle-radius-mobile;
	height: $circle-radius-mobile;

	// On mobile hide text unless its only one digit
	color: transparent;
	&.myft__indicator--single-digit {
		color: oColorsGetPaletteColor('white');
	}
	@include oGridRespondTo(M) {
		color: oColorsGetPaletteColor('white');
		right: -8px;
		line-height: $circle-radius-desktop;
		border-radius: $circle-radius-desktop;
		width: $circle-radius-desktop;
		height: $circle-radius-desktop;
		&.myft__indicator--single-digit {
			// shows single digit counts slightly larger for more legibility
			font-size: 13px;
		}
	}
}

.myft__indicator--hidden {
	display: none;
}
