.myft__indicator-container {
	position: relative;
}

.myft__indicator {
	position: absolute;
	top: 0;
	right: -13px;
	border-radius: 15px;
	padding: 0 5px;
	background-color: oColorsGetPaletteColor('teal');
	color: oColorsGetPaletteColor('white');
	@include oTypographySansBold(-1);
}
