{{#if @root.flags.myFtApiWrite}}
<form class="n-myft-ui n-myft-ui--instant{{#if hideButtonText}} n-myft-ui--instant--hide-text{{/if}} {{extraClasses}}"
			method="GET"
			data-myft-ui="instant"
			data-concept-id="{{conceptId}}"
			action="/myft/add/{{conceptId}}?instant=true"
			data-js-action="/__myft/api/core/followed/concept/{{conceptId}}?method=put">
	{{> n-myft-ui/components/csrf-token/input}}
	<input type="hidden" value="{{name}}" name="name">
	{{#if directType}}
	<input type="hidden" value="{{directType}}" name="directType">
	{{else}}
	<input type="hidden" value="http://www.ft.com/ontology/concept/Concept" name="directType">
	{{/if}}
	<button
			aria-label="Get instant alerts for {{name}}"
			{{#ifAll hasInstantAlert @root.cacheablePersonalisedUrl}}
			aria-pressed="true"
			{{else}}
			aria-pressed="false"
			{{/ifAll}}
	class="n-myft-ui__button
	{{#variant}} n-myft-ui__button--{{this}}{{/variant}}
	{{#size}} n-myft-ui__button--{{this}}{{/size}}
	n-myft-ui__button--instant
	n-myft-ui__button--instant-light"
	data-alternate-label="Stop instant alerts for {{name}}"
	{{#if alternateText}}
	data-alternate-text="{{alternateText}}"
	{{else}}
	{{#if buttonText}}
	data-alternate-text="{{buttonText}}"
	{{else}}
	data-alternate-text="Instant alerts"
	{{/if}}
	{{/if}}
	data-concept-id="{{conceptId}}" {{! duplicated here for tracking}}
	data-trackable="instant"
	title="Get instant alerts for {{name}}"
	name="_rel.instant"
	value="true"
	type="submit"
	>{{#if buttonText}}{{buttonText}}{{else}}Instant alerts{{/if}}</button>
</form>
{{else}}
<!-- Instant alert button hidden due to myFtApiWrite being off -->
{{/if}}
