@import "../../mixins/buttons";

.n-myft-ui--instant {
	position: relative;

	.n-myft-ui__button {
		@include buttonWithIcon(26, 24, oColorsByName('teal-40'), 'mail', 'mail', oColorsByName('white'));
		display: inline-block;
	}
}

.n-myft-ui__button--instant.n-myft-ui__button--instant-light {
	$icon-width: 36;
	border: 0;
	padding-left: 8px;
	padding-right: 36px;
	color: oColorsByName('black-80');
	font-weight: 400;
	background: transparent;
	&:not([disabled]):hover,
	&:not([disabled]):focus {
		background: transparent;
		color: oColorsByName('black-80');
	}
	&[aria-pressed="true"] {
		background: transparent;
		color: oColorsByName('black-80');
	}
	&::before {
		@include oIconsContent('notifications', oColorsByName('black-60'), $icon-width, $iconset-version: 1);
		left: auto;
		right: 1px;
		margin-top: -18px;
	}
	&:not([disabled]):hover:before,
	&[aria-pressed="true"]::before {
		@include oIconsContent('notifications', oColorsByName('claret'), $icon-width, $iconset-version: 1);
	}

	.n-myft-ui--instant--hide-text & {
		margin-top: 5px;
		width: 20px;
		overflow: hidden;
		white-space: nowrap;
		text-indent: -110px;
	}
}
