{{#if @root.flags.myFtApiWrite}}
<form class="n-myft-ui n-myft-ui--save" method="GET"
	data-content-id="{{contentId}}"
	data-myft-ui="saved"
	action="/myft/save/{{contentId}}"
	data-js-action="/__myft/api/core/saved/content/{{contentId}}?method=put">
	{{> n-myft-ui/components/csrf-token/input}}
	<button
		type="submit"
		class="{{#if saveButtonWithIcon}}n-myft-ui__save-button-with-icon{{else}}n-myft-ui__button{{#variant}} n-myft-ui__button--{{this}}{{/variant}}{{/if}}"
		data-trackable="{{#if trackableId}}{{trackableId}}{{else}}save-for-later{{/if}}"
		{{#if isSaved}}
			data-alternate-label="{{#if title}}Save {{title}} to myFT for later{{else}}Save this article to myFT for later{{/if}}"
			aria-pressed="true"
		{{else}}
			data-alternate-label="Saved to myFT"
			aria-pressed="false"
		{{/if}}
		{{#unlessEquals appIsStreamPage true}}
			{{#if saveButtonWithIcon}}
				data-text-variant="save-button-with-icon-copy"
			{{else}}
				data-text-variant="save-button-longer-copy"
			{{/if}}
		{{/unlessEquals}}
		{{#if alternateText}}
			data-alternate-text="{{alternateText}}"
		{{else}}
			{{#if isSaved}}
				data-alternate-text="Save "
			{{else}}
				data-alternate-text="Saved "
			{{/if}}
		{{/if}}
		data-content-id="{{contentId}}" {{! duplicated here for tracking}}
		{{#if isSaved}}
			aria-label="Saved to myFT"
			title="Saved to myFT"
		{{else}}
			aria-label="{{#if title}}Save {{title}} to myFT for later{{else}}Save this article to myFT for later{{/if}}"
			title="{{#if title}}Save {{title}} to myFT for later{{else}}Save this article to myFT for later{{/if}}"
		{{/if}}
		>
			{{#if saveButtonWithIcon}}
				<span class="save-button-with-icon-copy" data-variant-label>{{#if buttonText~}}
					{{buttonText}}
				{{~else~}}
					{{#if isSaved}}Saved{{else}}Save{{/if}}
				{{~/if}}</span>
			{{else}}
				{{#if buttonText}}{{buttonText}}{{else}}
					{{#unlessEquals appIsStreamPage true}}
						<span class="save-button-longer-copy" data-variant-label>{{#if isSaved}}Saved {{else}}Save {{/if}}</span><span class="n-myft-ui__button--viewport-large" aria-hidden="true">to myFT</span>
					{{else}}
						<span>{{#if isSaved}}Saved{{else}}Save{{/if}}</span>
					{{/unlessEquals}}
				{{/if}}
			{{/if}}
		</button>
	</form>
{{else}}
	<!-- Save button hidden due to myFtApiWrite being off -->
{{/if }}
