@import '../mixins/lozenge/main';

$icon-width-s: 90px;
$icon-width-m: 90px;

.n-myft-digest-promo {
	@include oNormaliseClearfix;
	float: none;
	position: relative;
	background-color: getColor('white-60');
	border-bottom: 1px solid getColor('black-20');
	border-top: 1px solid getColor('black-20');
	margin-bottom: 20px;
}

.n-myft-digest-promo--enabled {
	display: block;
}

.n-myft-digest-promo__container {
	position: relative;
	@include oGridRespondTo('M') {
		@include oGridCenter;
		@include oGridOffset(2);
	}
}

.n-myft-digest-promo__dismiss-btn {
	position: absolute;
	top: 5px;
	right: 0;
	background-color: transparent;
	border-color: transparent;
	height: 22px;
	width: 22px;

	&::before {
		@include oIconsGetIcon('cross', getColor('black-80'), 20, $iconset-version: 1);
		position: absolute;
		top: 0;
		right: 0;
		content: '';
	}
}

.n-myft-digest-promo__content {
	position: relative;
	padding-left: $icon-width-s;
	padding-top: $spacing-unit;

	@include oGridRespondTo('M') {
		padding-left: $icon-width-m;

		&::before {
			width: $icon-width-m;
		}
	}

	&::before {
		position: absolute;
		content: '';
		display: block;
		width: $icon-width-s;
		height: 80px;
		left: 0;
		background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fwww.ft.com%2F__assets%2Fcreatives%2Fmyft-alerts-prefs%2Fenvelope.svg?source=next&fit=scale-down&compression=best&width=50");
		background-repeat: no-repeat;
		background-size: 60px auto;
		background-position: 10px 0;
	}

}

.n-myft-digest-promo__heading {
	@include oTypographySansBold($scale: 2);

	margin-top: 0;
	margin-bottom: 7px;
}

.n-myft-digest-promo__para {
	@include oTypographySans($scale: -1);
	margin-top: 0;
}

.n-myft-digest-promo__branding {
	font-weight: normal;
	white-space: nowrap;
}

.n-myft-digest-promo__cta-wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: unset;
	padding-bottom: $spacing-unit;
	clear: both;

	@include oGridRespondTo('M') {
		justify-content: flex-end;
	}
}

.n-myft-digest-promo__cta-btn {
	@include myftLozenge($with-toggle-icon: true);
	display: inline-block;
	text-transform: none;
	min-width: 134px;
	width: 134px;
	margin-left: 80px;

	&[disabled] {
		min-width: 55px;
		width: 55px;
	}

	@include oGridRespondTo('M') {
		margin-left: 0;
		float: right;
	}
}
