<section
	class="card__collection"
	data-trackable="collection">
	<header class="card__collection-header">
		<h2 class="card__collection-title">
			<span class="card__collection-title-prefix">
				Topic Collection
			</span>
			{{title}}
		</h2>
	</header>
	<ul class="card__collection-concepts">
		{{#concepts}}
			<li class="card__collection-concept">
				<a
					class="card__collection-concept-link"
					href="{{url}}"
					data-trackable="concept">
					{{prefLabel}}
				</a>
				<div class="card__collection-concept-follow">
					{{>	n-myft-ui/myft/templates/follow
						variant="inverse"
					}}
				</div>
			</li>
		{{/concepts}}
	</ul>
</section>
