<section
	class="collection {{#if liteStyle}}collection--lite{{else}}collection--regular{{/if}}"
	data-trackable="{{#if trackable}}{{trackable}}{{else}}collection{{/if}}">
	<header class="collection__header {{#if liteStyle}}collection__header--lite{{else}}collection__header--regular{{/if}}">
		<h2 class="collection__title {{#if liteStyle}}collection__title--lite{{else}}collection__title--regular{{/if}}">
			{{title}}
		</h2>
	</header>
	<ul class="collection__concepts">
		{{#concepts}}
			<li class="collection__concept">
				{{#if ../liteStyle}}
					{{>	n-myft-ui/components/follow-button/follow-button
						variant="primary"
						buttonText=name
					}}
				{{else}}
					{{>	n-myft-ui/components/follow-button/follow-button
						variant="inverse"
						buttonText=name
					}}
				{{/if}}
			</li>
		{{/concepts}}
	</ul>
	<div class="collection__meta">
		<form
			method="POST"
			action="#"
			data-myft-ui="follow"
			data-concept-id="
				{{~#concepts~}}
					{{conceptId}}
					{{~#unless @last~}}
						,
					{{~/unless~}}
				{{~/concepts~}}"
			class="n-myft-ui n-myft-ui--follow n-ui-hide-core collection-follow-all">
			<input
				type="hidden"
				name="directType"
				value="
					{{~#concepts~}}
						{{directType}}
						{{~#unless @last~}}
							,
						{{~/unless~}}
					{{~/concepts~}}"
			/>
			{{> n-myft-ui/components/csrf-token/input}}
			<input
				type="hidden"
				name="name"
				value="
					{{~#concepts~}}
						{{name}}
					{{~#unless @last~}}
						,
					{{~/unless~}}
				{{~/concepts~}}"
			/>
			<button
				type="submit"
				aria-label="Add all topics in the {{title}} collection to my F T"
				aria-pressed="false"
				class="collection-follow-all__button {{#if liteStyle}}collection-follow-all__button--lite{{else}}collection-follow-all__button--regular{{/if}}"
				data-alternate-label="Remove all topics in the {{title}} collection from my F T"
				data-alternate-text="Added"
				data-trackable="follow all"
				data-concept-id="
					{{~#concepts~}}
						{{conceptId}}
						{{~#unless @last~}}
							,
						{{~/unless~}}
					{{~/concepts~}}"
				title="Add all topics in the {{title}} collection to my F T">
				Add all to myFT
			</button>
		</form>
	</div>
</section>
