.collection {
	display: flex;
	flex: 1 1 auto;
	flex-flow: column nowrap;
	justify-content: flex-start;
	position: relative;
	width: auto;
	padding: 12px;
	overflow: visible;
	background: getColor('claret-70');
	box-sizing: border-box;

	@include oGridRespondTo(M) {
		height: 100%;
	}
}

.collection__header {
	color: getColor('white');
	overflow: hidden;
	word-break: break-word;
}

.collection__title {
	@include oTypographySansBold($scale: 1, $progressive: true);
	margin: 0;
}

.collection__concepts {
	@include oTypographySans($scale: 1);
	@include oTypographyPadding($top: 4, $bottom: 0);
	margin: 0;
	margin-left: -3px;
	padding-left: 0;
	padding-right: 0;
	flex-grow: 1;
	list-style: none;
}

.collection__concept {
	display: inline-block;
}

.collection__meta {
	@include oTypographyPadding($top: 4);

	.n-myft-follow-button {
		margin: 0;
	}
}

.collection-follow-all__button {
	@include oButtons();
	@include oButtonsTheme($theme: (
		background: 'white',
		accent: 'claret-70',
		colorizer: 'secondary'
	));
}
