.collection {
	display: flex;
	flex: 1 1 auto;
	flex-flow: column nowrap;
	justify-content: flex-start;
	position: relative;
	width: auto;
	padding: 12px;
	overflow: visible;
	box-sizing: border-box;
}

.collection--regular {
	background: oColorsByName('claret-70');

	@include oGridRespondTo(M) {
		height: 100%;
	}
}

.collection--lite {
	background: oColorsByName('white-40');
	border: 1px solid oColorsByName('black-5');
	padding-top: 18px;
}

.collection__header {
	overflow: hidden;
	word-break: break-word;
}

.collection__header--regular {
	color: oColorsByName('white');
}

.collection__header--lite {
	color: oColorsByName('black');
}

.collection__title {
	@include oTypographySans($weight: 'semibold', $scale: 1);
	margin: 0;
}

.collection__concepts {
	@include oTypographySans($scale: 1);

	margin: 0;
	margin-left: -3px;
	padding: oSpacingByName('s4') 0 0;

	flex-grow: 1;
	list-style: none;
}

.collection__concept {
	display: inline-block;
}

.collection__meta {
	padding-top: oSpacingByName('s4');

	.n-myft-follow-button {
		margin: 0;
	}
}

.collection-follow-all__button {
	@include oButtonsContent($opts: (
		'type': 'secondary'
	));
}

.collection-follow-all__button--regular {
	@include oButtonsContent($opts: (
		'type': 'primary',
		'theme': (
			'color': 'white',
			'context': 'claret-70'
		)
	), $include-base-styles: false);
}

.collection-follow-all__button--lite {
	@include oButtonsContent($opts: (
		'type': 'primary'
	), $include-base-styles: false);
}
