<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/main.css">
</head>

<body>

	<div class="o-grid-container">
		<div class="o-grid-row">
			<ul>
				<li><a href="/">Basic</a></li>
				<li><a href="/alternative-copy">Alternative button copy</a></li>
				<li><a href="/digest-on-follow">Follow plus digest button</a></li>
			</ul>
		</div>
	</div>

	{{{body}}}
</body>

</html>
