<div class="o-grid-container demo-container">
<h1>{{title}}</h1>
	<div class="o-grid-row">
		<div data-o-grid-colspan="12">
			<h2>Follow button</h2>

			{{#followButton}}
				{{> n-myft-ui/myft/templates/follow }}
			{{/followButton}}

			<h2>Unfollow button</h2>

			{{#followButton}}
				{{> n-myft-ui/myft/templates/unfollow }}
			{{/followButton}}

			{{#saveButton}}
				<h2>Save button</h2>
				{{> n-myft-ui/myft/templates/save-for-later }}
			{{/saveButton}}

			{{#saveButton}}
				<h2>Unsave button</h2>
				{{> n-myft-ui/myft/templates/unsave-for-later }}
			{{/saveButton}}
		</div>
	</div>

	<div class="o-grid-row">
		<div data-o-grid-colspan="3">
			<h2>Collections</h2>

			{{#collections}}
				{{> n-myft-ui/components/collections/collections }}
			{{/collections}}
		</div>
	</div>

	<div class="o-grid-row">
		<div data-o-grid-colspan="12">
			<h2>Concept pill</h2>

			<ul class="concept-pill-collection">
				<li>
					<a class="n-myft-concept-pill" href="#">Books</a>
				</li>
				<li>
					<a class="n-myft-concept-pill" href="#">Life &amp; Arts</a>
				</li>
				<li>
					<a class="n-myft-concept-pill" href="#">Theo Leanse</a>
				</li>
				<li>
					<a class="n-myft-concept-pill" href="#">Mr. and Mrs. Dursley, of number four, Privet Drive, were proud to say that they were perfectly normal, thank you very much.</a>
				</li>
			</ul>

		</div>
	</div>

	<div class="o-grid-row">
		<div data-o-grid-colspan="12">
			<h2>Concept pill disabled</h2>

			<ul class="concept-pill-collection">
				<li>
					<span class="n-myft-concept-pill n-myft-concept-pill--disabled">Books</span>
				</li>
			</ul>

		</div>
	</div>

	<div class="o-grid-row">
		<div data-o-grid-colspan="12">
			<h2>Concept pill add/added</h2>

			<ul class="concept-pill-collection concept-pill-collection">
				<li>
					<a class="n-myft-concept-pill n-myft-concept-pill--add" href="#">Theo Leanse</a>
				</li>
				<li>
					<a class="n-myft-concept-pill n-myft-concept-pill--added" href="#">Theo Leanse</a>
				</li>
				<li>
					<a class="n-myft-concept-pill n-myft-concept-pill--add" href="#">Mr. and Mrs. Dursley, of number four, Privet Drive, were proud to say that they were perfectly normal, thank you very much.</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="o-grid-row">
		<div data-o-grid-colspan="12">
			<h2>Concept pill inverse</h2>
			<ul class="concept-pill-collection concept-pill-collection--inverse">
				<li>
					<a class="n-myft-concept-pill n-myft-concept-pill--inverse" href="#">Books</a>
				</li>
				<li>
					<a class="n-myft-concept-pill n-myft-concept-pill--inverse" href="#">Life &amp; Arts</a>
				</li>
				<li>
					<a class="n-myft-concept-pill n-myft-concept-pill--inverse" href="#">Theo Leanse</a>
				</li>
				<li>
					<a class="n-myft-concept-pill n-myft-concept-pill--inverse" href="#">Mr. and Mrs. Dursley, of number four, Privet Drive, were proud to say that they were perfectly normal, thank you very much.</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="o-grid-row">
		<div data-o-grid-colspan="12">
			<h2>Concept pill add/added inverse</h2>

			<ul class="concept-pill-collection concept-pill-collection--inverse">
				<li>
					<a class="n-myft-concept-pill n-myft-concept-pill--add n-myft-concept-pill--inverse" href="#">Theo Leanse</a>
				</li>
				<li>
					<a class="n-myft-concept-pill n-myft-concept-pill--added n-myft-concept-pill--inverse" href="#">Theo Leanse</a>
				</li>
				<li>
					<a class="n-myft-concept-pill n-myft-concept-pill--add n-myft-concept-pill--inverse" href="#">Mr. and Mrs. Dursley, of number four, Privet Drive, were proud to say that they were perfectly normal, thank you very much.</a>
				</li>
			</ul>
		</div>
	</div>
</div>
