@mixin buttonWithIcon($iconSpace, $iconSize, $colorOff, $iconOff, $iconOn: $iconOff, $colorOn: $colorOff) {
	$topMargin: #{$iconSize * -0.5}px;
	$horizontalMargin: #{($iconSpace - $iconSize) / 2}px;
	position: relative;
	padding-left: #{$iconSpace}px;

	&::before {
		@include oIconsGetIcon($iconOff, $colorOff, $iconSize, $iconset-version: 1);
		content: ' ';
		position: absolute;
		top: 50%;
		left: $horizontalMargin;
		margin: $topMargin $horizontalMargin 0 0;
	}

	&[aria-pressed="true"]::before {
		@include oIconsGetIcon($iconOn, $colorOn, $iconSize, $iconset-version: 1);
	}

	&[aria-pressed="true"]:hover::before {
		@include oIconsGetIcon($iconOn, $colorOff, $iconSize, $iconset-version: 1);
	}
}
