@mixin tick-icon($color) {
	content: '';
	@include oIconsGetIcon('tick', getColor($color), 16);
	height: 12px;
	background-size: 32px;
	margin-right: 8px;
}

@mixin plus-icon($color) {
	content: '';
	@include oIconsGetIcon('plus', getColor($color), 16);
	height: 14px;
	background-size: 38px;
	margin-right: 7px;
	margin-bottom: -1px; // bit of sneaky icon v-alignment tweaking
}

.n-myft-concept-pill {
	@include oTypographySansBold($scale: 0);
	border: 1px solid getColor('claret');
	border-radius: 100px;
	color: getColor('claret');
	display: block;
	font-size: 16px;
	margin: 8px 13px 8px 2px;
	max-width: 200px;
	overflow: hidden;
	padding: 8px 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.n-myft-concept-pill--add:before {
	@include plus-icon('claret');
}

.n-myft-concept-pill--added:before {
	@include tick-icon('claret');
}

.n-myft-concept-pill:hover {
	border: 1px solid getColor('claret');

	&.n-myft-concept-pill--add::before {
		@include plus-icon('black-70');
	}

	&.n-myft-concept-pill--added:before {
		@include tick-icon('black-70');
	}
}

.n-myft-concept-pill:focus {
	border: 3px solid getColor('teal-40');
	color: getColor('claret');
	outline-style: none;
	padding: 6px 16px;
}

.n-myft-concept-pill--disabled,
.n-myft-concept-pill--disabled:hover {
	border: 1px solid getColor('black-70');
	color: getColor('black-70');
}

.n-myft-concept-pill--inverse {
	border: 1px solid getColor('white');
	color: getColor('white');
}

.n-myft-concept-pill--inverse.n-myft-concept-pill--add:before {
	@include plus-icon('white');
}

.n-myft-concept-pill--inverse.n-myft-concept-pill--added {
	background-color: getColor('claret-90');
	border: 1px solid getColor('claret-90');

	&:before {
		@include tick-icon('white');
	}

	&:focus {
		border: 3px solid getColor('white');
	}
}

.n-myft-concept-pill--inverse:hover {
	border: 1px solid getColor('white');
	color: getColor('white');
	background-color: oColorsMix('claret-90', 'claret-60', 40);

	&.n-myft-concept-pill--add:before {
		@include plus-icon('white');
	}

	&.n-myft-concept-pill--added:before {
		@include tick-icon('white');
	}

	&.n-myft-concept-pill--inverse.n-myft-concept-pill--added {
		border: 1px solid getColor('claret-80');
		background-color: getColor('claret-80');
	}
}

.n-myft-concept-pill--inverse:focus {
	color: getColor('white');
	border: 3px solid getColor('claret-90');
}
