@import '@financial-times/o-normalise/main';
@import '@financial-times/o-colors/main';
@import '@financial-times/o-grid/main';
@import '@financial-times/o-icons/main';
@import '@financial-times/o-buttons/main';
@import '@financial-times/o-editorial-typography/main';
@import '@financial-times/o-forms/main';
@import '@financial-times/o-overlay/main';
@import '@financial-times/o-spacing/main';

$n-notification-is-silent: false !default;
@import '@financial-times/n-notification/main';

@import './ui/myft-buttons/main';
@import './ui/lists';
@import '../components/pin-button/main';
@import '../components/instant-alert/main';

// TODO Fix below
$spacing-unit: 20px;

.myft-ui,
.n-myft-ui {
	display: inline-block;
}

// experimental flash animation on header icon
@include myftHeaderIconFlash;

// 'unfollow' button
.myft-ui__button--manage,
.myft-ui__button--myft-manage {
	&[aria-pressed='true']::before {
		@include oIconsContent(
			'cross',
			oColorsByName('white'),
			28,
			$iconset-version: 1
		);
	}
}

.n-myft-ui--article-saved__list-select {
	margin-bottom: 10px;
}

.o-overlay.o-overlay--myft-lists {
	height: 100%;
	width: 100%;
	max-width: 640px;

	@include oGridRespondTo(S) {
		height: auto;
	}
}

.myft-list-form__wrapper {
	margin-bottom: 20px;

	@include oGridRespondTo(M) {
		display: flex;
	}

	.o-overlay__content & { margin-bottom: 0; }
}

.myft-list-form {
	overflow: hidden; // clearfix
	@include oGridRespondTo(M) {
		flex: 1;
	}
}

.myft-list-form__button {
	float: right;
}

//Specificity war with Origami
.mypage .myft-list-form__message,
.o-overlay .myft-list-form__message {
	@include oTypographySans(1);
	background: oColorsByName('paper');
	border-radius: 0;
	margin: 3px 0 0;
	padding: $spacing-unit 20px;

	h3 {
		@include oTypographySans($scale: 2, $weight: 'semibold');
		margin: 0 5px 0 0;
	}

	p {
		@include oTypographySans($scale: 2);
		padding: oSpacingByName('s2') 0;
		margin: 0;
	}

	h3,
	p {
		display: inline-block;
		padding: 0;
	}
}

.myft-list-form__message + .myft-list-form__wrapper {
	margin-top: $spacing-unit;
}

.o-overlay .myft-list-form__message {
	border-top: 1px solid oColorsByName('black-20');
	margin: 0 -20px;

	&:first-child {
		border-top: 0;
		margin-top: -20px;
	}
}

.myft-list-form__message--success {
	h3 {
		color: oColorsByName('jade');

		&::before {
			@include oIconsContent('tick', oColorsByName('jade'), 14, $iconset-version: 1);
			content: '';
			margin-right: 3px;
		}
	}
}

.myft-list-form-divider {
	text-align: center;
	margin-bottom: oSpacingByName('s8');
	padding: oSpacingByName('s6') 0;

	@include oGridRespondTo(M) {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0 oSpacingByName('s2');
	}

	&::after {
		content: '';
		display: block;
		border-top: 1px solid oColorsByName('black-20');
		margin-top: -10px;

		@include oGridRespondTo(M) {
			position: absolute;
			top: 0;
			height: 100%;
			width: 1px;
			margin-top: 0;
			border-top: 0;
			border-left: 1px solid oColorsByName('black-20');
		}
	}
}

.myft-list-form-divider__inner {
	padding: 10px;
	background-color: oColorsByName('white-60');

	@include oGridRespondTo(M) {
		z-index: 10;
	}

	.o-overlay__content & {
		background-color: oColorsByName('white');
	}

}

.share-nav {
	&.data-overlap-initialised {
		.o-overlay {
			transition: opacity 0.15s ease-in;
			opacity: 0;
			z-index: -1;
		}
	}

	.myft-ui-create-list-variant {
		border-radius: 10px;
		border: 1px solid oColorsByName('black-5');
		background: oColorsByName('white-80');

		.o-overlay__heading {
			border-radius: 10px 10px 0 0;
			background: oColorsByName('white-60');
			@include oTypographySans($scale: 2);
			color: oColorsByName('black-80');
		}

		.o-overlay__content {
			@include oTypographySans($scale: 0);
			color: oColorsByName('black-80');
			padding: 0;
		}

		.o-overlay__title {
			margin: 8px 14px 0 8px;
		}

		&-container {
			display: block;
			width: 340px;
			top: 115.5px;
			left: 50px;
		}

		&-add {
			border: 0;
			background: none;
			@include oTypographySans($scale: 1, $weight: 'semibold');
			color: oColorsByName('black-80');

			padding-left: 0;
			margin-left: -8px;

			&:hover {
				text-decoration: underline;
			}

			&::before {
				content: '';
				@include oIconsContent(
					'plus',
					oColorsByName('black-80'),
					28,
					$iconset-version: 1
				);
				vertical-align: middle;
				margin-top: -2px;
			}
		}

		&-add-description {
			margin: 4px 0;
		}

		&-heading {
			&::before {
				content: '';
				@include oIconsContent(
					'tick',
					oColorsByName('teal'),
					32,
					$iconset-version: 1
				);
				vertical-align: middle;
				margin-top: -2px;
			}
		}

		&-footer {
			border-top: 1px solid oColorsByName('black-5');
			padding: 16px;
		}

		&-icon {
			&::before {
				content: "";
				display: inline-block;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: 50%;
				background-color: transparent;
				background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1:brand-myft?source=next-article);
				width: 42px;
				height: 42px;
				vertical-align: middle;
				margin-top: -2px;
			}

			&-visually-hidden {
				clip: rect(0 0 0 0);
				clip-path: inset(50%);
				height: 1px;
				overflow: hidden;
				position: absolute;
				white-space: nowrap;
				width: 1px;
			}
		}

		&-form {
			display: flex;
			width: calc(100% - 32px);
			justify-content: space-between;
			height: 40px;
			gap: 8px;
			padding: 0 16px 16px;

			& > * {
				flex: 1 1 auto;
			}

			.o-forms-input {
				margin-top: 0;
			}
		}

		&-lists {
			padding: 16px 16px 0;
			@include oTypographySans($scale: 1);
			&-text {
				@include oTypographySans($weight: 'semibold');
				color: oColorsByName('black-80');
				margin-bottom: 16px;
			}
			&-container {
				margin-top: 0;
				max-height: 92px;
				padding-bottom: 2px;
				overflow-y: auto;
				@include oGridRespondTo($from: M) {
					max-height: 126px;
				}
			}
		}
	}
	.share-nav__vertical {
		.myft-notification {
			background: oColorsByName('white-80');
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 175px;
			width: 340px;
			height: 44px;
			left: 50px;
			font-size: 16px;
			border-radius: 5px;
			
			p {
				margin: auto;
			}
		}
	}

	.share-nav__horizontal {
		.myft-notification {
			background: oColorsByName('white-80');
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: -52px;
			width: 340px;
			height: 44px;
			font-size: 16px;
			border-radius: 5px;
			z-index: 10;

			p {
				margin: auto;
			}
		}
	}
	
}

