@import 'o-normalise/main';
@import 'o-colors/main';
@import 'o-grid/main';
@import 'o-icons/main';
@import 'o-buttons/main';
@import 'o-editorial-typography/main';
@import 'o-forms/main';
@import 'o-overlay/main';
@import 'o-spacing/main';

$n-notification-is-silent: false !default;
@import 'n-notification/main';

@import './ui/myft-buttons/main';
@import './ui/lists';
@import '../components/header-tooltip/main';
@import '../components/pin-button/main';
@import '../components/instant-alert/main';
@import '../components/instant-alerts-confirmation/main';

// TODO Fix below
$spacing-unit: 20px;

.myft-ui,
.n-myft-ui {
	display: inline-block;
}

// experimental flash animation on header icon
@include myftHeaderIconFlash;

// 'unfollow' button
.myft-ui__button--manage,
.myft-ui__button--myft-manage {
	&[aria-pressed='true']::before {
		@include oIconsContent(
			'cross',
			oColorsByName('white'),
			28,
			$iconset-version: 1
		);
	}
}

.n-myft-ui--article-saved__list-select {
	margin-bottom: 10px;
}

@include oGridRespondTo($until: S) {
	.o-overlay--myft-ui {
		@include oOverlay(
			$opts: (
				'variants': (
					'compact'
				)
			)
		);

		// TODO Fix and restore
		// @include nUiZIndexFor("overlay");
	}

	.o-overlay-shadow {
		// TODO Fix and restore
		// @include nUiZIndexFor("overlay");
	}
}
