@import 'o-normalise/main';
@import 'o-colors/main';
@import 'o-grid/main';
@import 'o-icons/main';
@import 'o-buttons/main';
@import 'o-editorial-typography/main';
@import 'o-forms/main';
@import 'o-overlay/main';
@import 'o-spacing/main';

$n-notification-is-silent: false !default;
@import 'n-notification/main';

@import './ui/myft-buttons/main';
@import './ui/lists';
@import '../components/pin-button/main';
@import '../components/instant-alert/main';

// TODO Fix below
$spacing-unit: 20px;

.myft-ui,
.n-myft-ui {
	display: inline-block;
}

// experimental flash animation on header icon
@include myftHeaderIconFlash;

// 'unfollow' button
.myft-ui__button--manage,
.myft-ui__button--myft-manage {
	&[aria-pressed='true']::before {
		@include oIconsContent(
			'cross',
			oColorsByName('white'),
			28,
			$iconset-version: 1
		);
	}
}

.n-myft-ui--article-saved__list-select {
	margin-bottom: 10px;
}

.o-overlay.o-overlay--myft-lists {
	height: 100%;
	width: 100%;
	max-width: 640px;

	@include oGridRespondTo(S) {
		height: auto;
	}
}

.myft-list-form__wrapper {
	margin-bottom: 20px;

	@include oGridRespondTo(M) {
		display: flex;
	}

	.o-overlay__content & { margin-bottom: 0; }
}

.myft-list-form {
	overflow: hidden; // clearfix
	@include oGridRespondTo(M) {
		flex: 1;
	}
}

.myft-list-form__button {
	float: right;
}

//Specificity war with Origami
.mypage .myft-list-form__message,
.o-overlay .myft-list-form__message {
	@include oTypographySans(1);
	background: oColorsByName('paper');
	border-radius: 0;
	margin: 3px 0 0;
	padding: $spacing-unit 20px;

	h3 {
		@include oTypographySans($scale: 2, $weight: 'semibold');
		margin: 0 5px 0 0;
	}

	p {
		@include oTypographySans($scale: 2);
		padding: oSpacingByName('s2') 0;
		margin: 0;
	}

	h3,
	p {
		display: inline-block;
		padding: 0;
	}
}

.myft-list-form__message + .myft-list-form__wrapper {
	margin-top: $spacing-unit;
}

.o-overlay .myft-list-form__message {
	border-top: 1px solid oColorsByName('black-20');
	margin: 0 -20px;

	&:first-child {
		border-top: 0;
		margin-top: -20px;
	}
}

.myft-list-form__message--success {
	h3 {
		color: oColorsByName('jade');

		&::before {
			@include oIconsContent('tick', oColorsByName('jade'), 14, $iconset-version: 1);
			content: '';
			margin-right: 3px;
		}
	}
}

.myft-list-form-divider {
	text-align: center;
	margin-bottom: oSpacingByName('s8');
	padding: oSpacingByName('s6') 0;

	@include oGridRespondTo(M) {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0 oSpacingByName('s2');
	}

	&::after {
		content: '';
		display: block;
		border-top: 1px solid oColorsByName('black-20');
		margin-top: -10px;

		@include oGridRespondTo(M) {
			position: absolute;
			top: 0;
			height: 100%;
			width: 1px;
			margin-top: 0;
			border-top: 0;
			border-left: 1px solid oColorsByName('black-20');
		}
	}
}

.myft-list-form-divider__inner {
	padding: 10px;
	background-color: oColorsByName('white-60');

	@include oGridRespondTo(M) {
		z-index: 10;
	}

	.o-overlay__content & {
		background-color: oColorsByName('white');
	}

}
