@import 'n-ui-foundations/main';
@import '../../myft-common/main';
@import '../../myft/main';
@import '../../components/collections/main';
@import '../../components/concept-pill/main';
@import '../../components/onboarding-cta/main';

.demo-container {
	margin-bottom: 400px;
}

.concept-collection {
	padding: 1em;
}

.concept-collection__title {
	margin-top: 0;
}

.concept-collection__list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.concept-collection--standard {
	background-color: getColor('paper');
}

.concept-collection--inverse {
	background-color: getColor('claret-60');
	color: getColor('white');
}

.concept-collection--opinion {
	background-color: getColor('sky');
	color: getColor('oxford');
}

.concept-collection--monochrome {
	background-color: getColor('black');
	color: getColor('white');
}

.demo-section {
	padding-bottom: 1em;
	font-family: MetricWeb, sans-serif;
}

.demo-section__title {
	padding-top: 0.2em;
}

.demo-section__description {
	font-style: italic;
	font-size: 1.2em;
	margin: 12px 0;
	color: getColor('black-70');
}
