@include nUiStylesheetStart('n-myft-ui-core');
	.n-myft-ui-button {
		@include oButtons();

		&:focus {
			outline: 3px solid getColor('teal-40');
			outline-offset: 3px;
		}
	}

	.n-myft-ui-button--viewport-large {
		display: none;
		@include oGridRespondTo('L') {
			display: inline-block;
		}
	}

	.n-myft-ui-button--inverse {
		@include oButtonsTheme(inverse);
	}

	.n-myft-ui-button--uncolored {
		@include oButtonsTheme(mono);
	}

	.n-myft-ui-button--medium {
		@include oButtonsSize(default);
	}

	.n-myft-ui-button--big {
		@include oButtonsSize(big);
	}

	.n-myft-ui-fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	.n-myft-ui-legend {
		@include oTypographySans(0, $progressive: true);
		margin-bottom: 10px;
	}

	.n-myft-ui-form--instant {
		position: relative;

		.n-myft-ui-button {
			@include buttonWithIcon(26, 24, getColor('teal-40'), 'mail', 'mail', getColor('white'));
		}

		.n-myft-ui-button--inverse {
			@include buttonWithIcon(26, 24, getColor('teal-80'), 'mail', 'mail', getColor('white'));
		}
	}

	.js .n-myft-ui-core-text {
		display: none;
	}

	.n-myft-ui-logo {
		border: 0;
	}

	.n-myft-ui-icon {
		@include nGetImage('logo', 'brand-myft', white, 16);
		width: 34px;
		margin: 0 8px -5px;
	}

	.n-myft-digest-promo {
		display: none;
	}
@include nUiStylesheetEnd('n-myft-ui-core');
