$o-expander-is-silent : true;
@import 'o-expander/main';
$o-teaser-is-silent: true;
@import 'o-teaser/main';
@import 'o-typography/main';

.o-header--sticky {
	.myft-notification__container {
		[data-next-app="article"] & {
			@include oGridRespondTo($until: M) {
				width: 215px;
			}
			@include oGridRespondTo($from: M, $until: L) {
				width: 236px;
			}

			// HACK: None of the o-grid sizes give us the right width for this :-(
			// hide notification to avoid "SAVE" button crash into FT logo
			@media (max-width: 592px) and (min-width: 490px) {
				width: 12.5%;
				.myft-notification {
					display: none;
				}
			}
		}

		@include oGridRespondTo($from: L) {
			margin-top: 4px;
		}
	}
}

.myft-notification__container {
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.myft-notification {
	display: none;
	align-self: center;
	margin-left: 6px;

	// HACK: None of the o-grid sizes give us the right width for this :-(
	// Ultimately we need to target iPhone 5 (~320px) upwards
	@media (min-width: 23em) {
		display: block;
	}

	.o-expander__toggle {
		@include oExpanderToggle;
		i {
			display: none;
		}
	}
}

.myft-notification__icon,
.myft-notification__icon.o-expander__toggle {
	position: relative;
	@include oIconsGetIcon('notifications', getColor('black'), 32);
	background-position: 0 50%;
	border: 0;
	min-width: 32px;
	width: auto;
}

.myft-notification__text-button {
	display: none;
}

.myft-notification__icon--with-dot {
	.myft-notification__text-button {
		@include oGridRespondTo(L) {
			@include oTypographySansBold($scale: -1);
			display: inline-block;
			position: relative;
			background: getColor('crimson');
			color: getColor('white');
			padding: oTypographySpacingSize(1);
			margin-left: 30px;
			top: -2px;
		}
	}

	&:after {
		@include oTypographySansBold($scale: -2);

		background: getColor('crimson');
		border-radius: 50%;
		color: getColor('white');
		content: '1';
		display: block;
		font-size: 13px;
		height: 14px;
		width: 14px;
		line-height: 14px;
		padding: 1px;
		position: absolute;
		left: 16px;
		top: 0;

		.myft-notification--animate & {
			animation-duration: 1s;
			animation-delay: 3s;
			animation-fill-mode: both;
			animation-name: bounce;
			animation-iteration-count: 3;
			transform-origin: top center;
		}
	}
}

.myft-notification__content {
	@include oTeaserElementsDefault;
	@include oTeaserThemeSmall;
	@include oExpanderContent;
	background: getColor('white');
	text-align: left;
	white-space: normal;
	@include nUiZIndexFor('meganav');
	@include oVisualEffectsShadowsElevation('ultralow', getColor('black'));
	position: absolute;
	right: -5px;
	width: 300px;

	//to synchronize the timing when notification content is displayed
	.o-header--sticky & {
		visibility: hidden;
	}
	.o-header--sticky-active & {
		visibility: visible;
	}
}

.myft-notification__headline__container {
	height: 36px;
	background: getColor('claret');
}

.myft-notification__headline {
	position: absolute;
	color: getColor('white');
	padding: 8px 20px;
	@include oTypographySans($scale: 0);
}

.myft-notification__collapse {
	width: 44px;
	height: 36px;
	float: right;
	background: getColor('claret-80');
	cursor: pointer;
	border: 0;

	&:before {
		@include oIconsGetIcon('arrow-up', getColor('white'), 32, $iconset-version: 1);
		content: '';
		position: absolute;
		right: 6px;
		top: 2px;
	}
}

.myft-notification__links {
	padding-left: 20px;
	padding-right: 20px;
	.o-teaser__heading {
		@include oTypographySans($scale: 0);
	}
	.o-teaser--small {
		border-bottom: 0;
		border-top: 1px solid oColorsMix(black, white, 20);
		@include oTypographyPadding($top: 3, $bottom: 0);
		@include oTypographyMargin($bottom: 3);
	}
	:first-child {
		border-top: 0;
	}
}

.myft-notification__link {
	color: inherit;
	border-bottom: 0;
	display: block;
	@include oTypographyMargin($bottom: 3);
}

.myft-notification__link--all-stories {
	position: relative;
	background: getColor('claret');
	color: getColor('white');
	@include oTypographySansBold($scale: 0);
	padding: 8px;

	&:after {
		@include oIconsGetIcon('arrow-right', getColor('white'), 30, $iconset-version: 1);
		content: '';
		position: absolute;
		right: 0;
		top: 2px;
	}

	&:hover {
		background-color: getColor('claret-40');
	}
}

.myft-notification__feedback {
	margin-bottom: 20px;
	border-top: 1px solid oColorsMix(black, white, 20);
	padding: 0 20px;
	@include oTypographySansBold(0);
}

.myft-notification__feedback-button {
	@include oButtons();
}

.js-feedback__complete {
	display: none;
}

$tooltip-icon-size: 26px;

.myft-notification-tooltip__icon {
	@include oIconsGetIcon('notifications', getColor('black'), 32);
	margin-right: -5px;
	margin-left: -5px;
	width: $tooltip-icon-size;
	height: $tooltip-icon-size;
	vertical-align: middle;
	text-indent: $tooltip-icon-size;
	overflow: hidden;
}

@keyframes bounce {
	from,
	20%,
	53%,
	80%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(0, 0, 0);
	}

	40%,
	43% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: translate3d(0, -30px, 0);
	}

	70% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: translate3d(0, -15px, 0);
	}

	90% {
		transform: translate3d(0, -4px, 0);
	}
}
