$o-expander-is-silent : true;
@import 'o-expander/main';
$o-teaser-is-silent: true;
@import 'o-teaser/main';
@import 'o-typography/main';

.o-header--sticky .myft-notification__container {
	[data-next-app="article"] & {
		@include oGridRespondTo($until: L) {
			width: 12.5%;
		}
	}

	@include oGridRespondTo($from: L) {
		margin-top: 4px;
	}
}

.myft-notification__container {
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.myft-notification {
	align-self: center;

	.o-expander__toggle {
		@include oExpanderToggle;
		i {
			display: none;
		}
	}
}

.myft-notification__icon,
.myft-notification__icon.o-expander__toggle {
	position: relative;
	@include oIconsGetIcon('notifications', getColor('black'), 32);
	border: 0;
}

.myft-notification__icon--with-dot {
	&:after {
		content: '';
		background: getColor('claret');
		border-radius: 50%;
		width: 8px;
		height: 8px;
		display: block;
		position: absolute;
		right: 4px;
		top: 2px;
	}
}

.myft-notification__content {
	@include oTeaserElementsDefault;
	@include oTeaserThemeSmall;
	@include oExpanderContent;
	background: getColor('white');
	text-align: left;
	white-space: normal;
	@include nUiZIndexFor('meganav');
	@include oVisualEffectsShadowsElevation('ultralow', getColor('black'));
	position: absolute;
	right: -5px;
	width: 300px;

	//to synchronize the timing when notification content is displayed
	.o-header--sticky & {
		visibility: hidden;
	}
	.o-header--sticky-active & {
		visibility: visible;
	}
}

.myft-notification__headline__container {
	height: 36px;
	background: getColor('claret');
}

.myft-notification__headline {
	position: absolute;
	color: getColor('white');
	padding: 8px 20px;
	@include oTypographySans($scale: 0);
}

.myft-notification__collapse {
	width: 44px;
	height: 36px;
	float: right;
	background: getColor('claret-80');
	cursor: pointer;
	border: 0;

	&:before {
		@include oIconsGetIcon('arrow-up', getColor('white'), 32, $iconset-version: 1);
		content: '';
		position: absolute;
		right: 6px;
		top: 2px;
	}
}

.myft-notification__links {
	padding-left: 20px;
	padding-right: 20px;
	.o-teaser__heading {
		@include oTypographySans($scale: 0);
	}
	.o-teaser--small {
		border-bottom: 0;
		border-top: 1px solid oColorsMix(black, white, 20);
		@include oTypographyPadding($top: 3, $bottom: 0);
		@include oTypographyMargin($bottom: 3);
	}
	:first-child {
		border-top: 0;
	}
}

.myft-notification__link {
	color: inherit;
	border-bottom: 0;
	display: block;
	@include oTypographyMargin($bottom: 3);
}

.myft-notification__link--all-stories {
	position: relative;
	background: getColor('claret');
	color: getColor('white');
	@include oTypographySansBold($scale: 0);
	padding: 8px;

	&:after {
		@include oIconsGetIcon('arrow-right', getColor('white'), 30, $iconset-version: 1);
		content: '';
		position: absolute;
		right: 0;
		top: 2px;
	}

	&:hover {
		background-color: getColor('claret-40');
	}
}

.myft-notification__feedback {
	margin-bottom: 20px;
	border-top: 1px solid oColorsMix(black, white, 20);
	padding: 0 20px;
	@include oTypographySansBold(0);
}

.myft-notification__feedback-button {
	@include oButtons();
}

.js-feedback__complete {
	display: none;
}
