<div class="n-myft-digest-promo n-myft-digest-promo--generic">
	<div class="o-grid-container">
		<div class="o-grid-row">
			<div data-o-grid-colspan="12 M8" class="n-myft-digest-promo__container">
				<div class="o-grid-container o-grid-container--bleed">
					<div class="o-grid-row">

						<div data-o-grid-colspan="12 L8" class="n-myft-digest-promo__content">
							<h2 class="n-myft-digest-promo__heading">
								Sign up to <span class="n-myft-digest-promo__branding">myFT Daily Digest</span>
							</h2>
							<p class ="n-myft-digest-promo__para">Receive the latest news from topics you follow on myFT straight to your inbox</p>
						</div>

						<div data-o-grid-colspan="12 L4" class="n-myft-digest-promo__cta-wrapper">
							<button aria-label="Sign up to myFT Digest"
									aria-pressed="false"
									class="n-myft-digest-promo__cta-btn"
									data-alternate-label="Unsubscribe"
									data-alternate-text="Signed up"
									data-trackable="digest-promo"
									title="Sign up to myFT Digest"
									data-title="{{title}}"
									type="submit">
									Sign up
							</button>
						</div>

						{{#unless nonDismissable}}
						<button class="n-myft-digest-promo__dismiss-btn" title="dismiss" data-trackable="digest-promo-dismiss"></button>
						{{/unless}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
